@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  font-family: "Roboto", "Oxygen", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;

  .loading-message {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    color: $color-text;
    font-size: medium;
  }

  .error-message {
    color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    font-size: medium;
  }
}
